.DS_Store
example-spring-template/target
example-spring-template/.DS_Store
example-spring-template/.classpath
example-spring-template/.project
example-spring-template/.settings/
example-spring-scheduling/target
example-spring-scheduling/.DS_Store
example-spring-scheduling/.classpath
example-spring-scheduling/.project
example-spring-scheduling/.settings/
example-freemarker-exception/target
example-freemarker-exception/.DS_Store
example-freemarker-exception/.classpath
example-freemarker-exception/.project
example-freemarker-exception/.settings/
example-lucene/target
example-lucene/.DS_Store
example-lucene/.classpath
example-lucene/.project
example-lucene/.settings/
example-lucene/AkwIndex/