html
  body
    #header
      background-color #DDF  
    #navigation
      background-color #FDF       
    #content
      background-color #DFD        
    #sidebar
      background-color #DFF     
    #footer
      background-color #FDD        
